@import url(fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width:372px) {
    .page__background {
        background-image: url(french.jpg);
        max-width: 390px;
        height: 200px;
        background-size: cover;
        margin: auto;
    }

    .header {
        height: 40px;
        background-color: white;
        border-bottom: 1px solid rgba(175, 210, 252, 0.929)
    }

    .header__logo {
        width: 50px;
        height: 40px;
        display: block;
    }

    .header__school-name {
        color: rgb(251, 5, 5);
        font-family: 'Lato';
        font-size: 14px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;

    }

    .nav-bar__menu {
        display: flex;
        justify-content: right;
        gap: 10px;
        flex: 1;
        align-items: center;
        padding-right: 10px;
        max-width: 500px;
    }

    .nav-link {
        color: black;
        font-family: 'Lato';
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        padding: 0 15px;
    }

    .nav-link:hover {
        color: blue;
    }

    .action-button {
        border-radius: 15px;
        border: 0;
        background-color: rgb(63, 63, 255);
        padding: 5px 10px;
        display: block;
        margin: 25px 20px 0;

    }

    .action-button:hover {
        background-color: red;
    }

    .action-text {
        text-decoration: none;
        color: white;
        font-family: 'Lato';
        font-size: 14px;

    }


    .content__extract-name {
        color: red;
        font-size: 30px;
        font-family: 'Amita';
        line-height: 25px;
        padding: 40px 0 0 20px;
    }

    .about__text_smallscreens {
        color: dimgray;
        margin-left: 0;
        font-family: 'Lato';
        font-size: 14px;
        padding: 0;
    }

    .about__text {
        display: none;

    }

    article {
        max-width: 100%;
        height: 250px;
        background-color: rgba(213, 232, 254, 0.929);
        text-align: center;
        border: 1px solid blue;

    }

    li {
        list-style-type: none;
        line-height: 25px;
    }

    ul {
        color: dimgray;
        font-size: 20px;
        font-family: 'Lato';
        font-weight: 400;

    }

    .price {
        color: red;
        font-size: 26px;
        font-family: 'Lato';
        font-weight: bold;
        margin-top: 30px;
    }

    #about {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
    }

    #plans {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 25px;
    }

    #contact {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
        max-width: 100%;
        height: 380px;
    }

    .plan__title {
        color: rgb(52, 52, 52);
        font-size: 26px;
        font-family: 'Lato';
        font-weight: bold;
        margin-bottom: 20px;
    }

    .fa {
        text-decoration: none;
        color: rgb(0, 0, 207);
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fa:hover {
        color: red;
    }

    .circle {
        display: none;
    }

    .contact__details {
        color: rgb(52, 52, 52);
        font-size: 24px;
        font-family: 'Lato';
        font-weight: bold;
        margin: 20px 0;
    }

    .contacts__text-address {
        color: rgb(52, 52, 52);
        font-family: 'Lato';
        font-size: 30px;
        margin: 0 0 5px;
        font-weight: bold;
        padding: 8px 23px 8px 0;
    }

    .contacts__text-contact {
        color: rgb(52, 52, 52);
        font-family: 'Lato';
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 5px;
        padding: 8px 15px 0 0;
    }

    a .contacts__link {
        font-family: 'Lato';
        display: flex;
        flex-direction: row;
        text-decoration: none;

    }

    a {
        color: rgb(52, 52, 52);
    }

    .contacts__link {
        padding: 8px 0 0 15px;
    }

    .contacts__address {

        color: rgb(52, 52, 52);
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    address {
        padding: 8px 0 8px 15px;
    }

    .contact__social-media {
        color: red;
        margin-top: 20px;
    }

    .footer {
        background-color: rgb(52, 52, 52);
        width: 100%;
        height: 30px;
    }
}


@media (min-width:500px) {
    .page__background {
        background-image: url(french.jpg);
        max-width: 800px;
        height: 400px;
        background-size: cover;
        background-position: 30%;
    }

    .header {
        height: 50px;
        background-color: white;
        border-bottom: 1px solid rgba(175, 210, 252, 0.929)
    }

    .header__logo {
        width: 50px;
        height: 50px;
        display: block;
    }

    .header__school-name {
        color: rgb(251, 5, 5);
        font-family: 'Lato';
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;

    }

    .nav-bar__menu {
        display: flex;
        justify-content: right;
        gap: 10px;
        flex: 1;
        align-items: center;
        padding-right: 10px;
    }

    .nav-link {
        color: black;
        font-family: 'Lato';
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        padding: 0 15px;
    }

    .nav-link:hover {
        color: blue;
    }

    .action-button {
        border-radius: 15px;
        border: 0;
        background-color: rgb(63, 63, 255);
        padding: 10px 40px;
        display: block;
        margin: 40px 40px 0;

    }

    .action-button:hover {
        background-color: red;
    }

    .action-text {
        text-decoration: none;
        color: white;
        font-family: 'Lato';
        font-size: 16px;

    }


    .content__extract-name {
        color: red;
        font-size: 56px;
        font-family: 'Amita';
        line-height: 40px;
        padding: 70px 0 0 40px;
    }

    .about__text_smallscreens {
        color: dimgray;
        margin-left: 40px;
        font-family: 'Lato';
        font-size: 26px;
    }

    .about__text {
        display: none;
        color: dimgray;
        margin-left: 40px;
        font-family: 'Lato';
        font-size: 26px;

    }

    article {
        max-width: 100%;
        height: 300px;
        background-color: rgba(213, 232, 254, 0.929);
        text-align: center;
        border: 1px solid blue;

    }

    li {
        list-style-type: none;
        line-height: 25px;
    }

    ul {
        color: dimgray;
        font-size: 26px;
        font-family: 'Lato';
        font-weight: 400;

    }

    .price {
        color: red;
        font-size: 26px;
        font-family: 'Lato';
        font-weight: bold;
        margin-top: 40px;
    }

    #about {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
    }

    #plans {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

    }

    #contact {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
        max-width: 100%;
        height: 380px;
    }

    .plan__title {
        color: rgb(52, 52, 52);
        font-size: 26px;
        font-family: 'Lato';
        font-weight: bold;
        margin: 20px 0;
    }

    .fa {
        text-decoration: none;
        color: rgb(0, 0, 207);
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fa:hover {
        color: red;
    }

    .circle {
        display: none;
    }

    .contact__details {
        color: rgb(52, 52, 52);
        font-size: 28px;
        font-family: 'Lato';
        font-weight: bold;
        margin: 40px 0;
    }

    .contacts__text-address {
        color: rgb(52, 52, 52);
        font-family: 'Lato';
        font-size: 28px;
        margin: 0 0 5px;
        font-weight: bold;
        padding: 8px 23px 8px 0;
    }

    .contacts__text-contact {
        color: rgb(52, 52, 52);
        font-family: 'Lato';
        font-size: 26px;
        font-weight: bold;
        margin: 0 0 5px;
        padding: 8px 15px 0 0;
    }

    a .contacts__link {
        font-family: 'Lato';
        display: flex;
        flex-direction: row;
        text-decoration: none;

    }

    a {
        color: rgb(52, 52, 52);
    }

    .contacts__link {
        padding: 8px 0 0 15px;
    }

    .contacts__address {

        color: rgb(52, 52, 52);
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    address {
        padding: 8px 0 8px 15px;
    }

    .contact__social-media {
        color: red;
        margin-top: 20px;
    }

    .footer {
        background-color: rgb(52, 52, 52);
        width: 100%;
        height: 40px;
    }
}

@media (min-width:800px) {

    .page__background {
        background-image: url(french.jpg);
        background-position: 20%;
        max-width: 1200px;
        height: 500px;
        background-size: cover;

    }

    .header {
        background-color: white;
        height: 75px;
        border-bottom: 1px solid rgba(175, 210, 252, 0.929);
    }

    .header__logo {
        width: 50px;
        height: 60px;
        display: block;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__school-name {
        color: rgb(251, 5, 5);
        font-family: 'Lato';
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .extract-name {
        font-family: 'Amita';
        line-height: 25px;
        padding: 40px 0 0 20px;
    }


    .nav-bar {
        display: flex;
        flex-direction: row;


    }

    .nav-bar__menu {
        display: flex;
        justify-content: right;
        gap: 20px;
        flex: 1;
        align-items: center;

        max-width: 1200px
    }

    .nav-link {
        color: black;
        font-family: 'Lato';
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        padding: 15px
    }

    .nav-link:hover {
        color: blue;
    }

    .background-image {
        display: block;
        background-size: cover;
        position: relative;
        left: 280px;
        max-width: 1200px;
    }

    .action-button {
        border-radius: 15px;
        border: 0;
        background-color: rgb(63, 63, 255);
        display: block;
        margin: 50px 0 0 20px;
        padding: 10px
    }

    .action-button:hover {
        background-color: red;
    }

    .action-text {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: bold;
    }

    .content__extract-name {
        color: red;

        font-size: 120px;
        font-family: 'Amita';
        line-height: 100px;
    }

    #about {
        padding: 20px 20px;
        background-color: white;

    }

    #plans {
        padding: 20px 20px;
        background-color: white;
        display: flex;
        flex-direction: column;

    }

    #contact {
        padding: 20px 20px;
        background-color: white;

    }

    hr {
        color: rgba(62, 62, 62, 0.929)
    }

    .about__title {
        font-family: 'Amita';
        font-size: 24px;
        color: rgb(227, 1, 1);
        padding: 10px;
        width: 30px;


    }

    .container__about {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        justify-content: flex-start;

    }

    .plans {
        font-family: 'Amita';
        font-size: 50px;
        color: rgb(227, 1, 1);
    }

    .contact {
        font-family: 'Amita';
        font-size: 50px;
        color: rgb(227, 1, 1);

    }

    .content__extract-name {
        color: red;
        font-size: 80px;
        font-family: 'Amita';
        line-height: 40px;
        padding: 70px 0 0 20px;
        line-height: 60px;
    }

    .about__text_smallscreens {
        display: none;
    }

    .about__text {
        display: block;
        color: dimgray;
        margin-left: 50px;
        font-family: 'Lato';
        font-size: 18px;
        padding-left: 25px;

    }

    article {
        width: 450px;
        height: 400px;
        background-color: rgba(213, 232, 254, 0.929);
        text-align: center;
        border: 1px solid blue;

    }

    li {
        list-style-type: none;
        line-height: 25px;
    }

    ul {
        color: dimgray;
        font-size: 26px;
        font-family: 'Lato';
        font-weight: 400;

    }

    .price {
        color: red;
        font-size: 26px;
        font-family: 'Lato';
        font-weight: bold;
        bottom: 0;
    }

    #about {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
    }

    #plans {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

    }

    #contact {
        padding: 20px 20px;
        color: red;
        font-family: 'Amita';
        max-width: 100%;
        height: 380px;
    }

    .plan__title {
        color: rgb(52, 52, 52);
        font-size: 26px;
        font-family: 'Lato';
        font-weight: bold;
        margin: 20px 0;
    }

    .fa {
        text-decoration: none;
        color: rgb(0, 0, 207);
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fa:hover {
        color: red;
    }

    .circle {
        display: none;
    }

    .contact__details {
        color: rgb(52, 52, 52);
        font-size: 28px;
        font-family: 'Lato';
        font-weight: bold;
        margin: 40px 0;
    }

    .contacts__text-address {
        color: rgb(52, 52, 52);
        font-family: 'Lato';
        font-size: 28px;
        margin: 0 0 5px;
        font-weight: bold;
        padding: 8px 23px 8px 0;
    }

    .contacts__text-contact {
        color: rgb(52, 52, 52);
        font-family: 'Lato';
        font-size: 26px;
        font-weight: bold;
        margin: 0 0 5px;
        padding: 8px 15px 0 0;
    }

    a .contacts__link {
        font-family: 'Lato';
        display: flex;
        flex-direction: row;
        text-decoration: none;

    }

    a {
        color: rgb(52, 52, 52);
    }

    .contacts__link {
        padding: 8px 0 0 15px;
    }

    .contacts__address {

        color: rgb(52, 52, 52);
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    address {
        padding: 8px 0 8px 15px;
    }

    .contact__social-media {
        color: red;
        margin-top: 20px;
        font-family: 'Lato';
        font-size: 26px;
    }

    .footer {
        background-color: rgb(52, 52, 52);
        width: 100%;
        height: 40px;
    }
}