* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    height: 60px;
    border-bottom: 1px solid rgba(175, 210, 252, 0.929);
}

.header__logo {
    width: 50px;
    height: 40px;
    display: block;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__school-name {
    color: rgb(251, 5, 5);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extract-name {
    color: rgb(251, 7, 7);
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
}


.nav-bar {
    display: flex;
    flex-direction: row;

}

.nav-bar__menu {
    display: flex;
    justify-content: right;
    gap: 20px;
    flex: 1;
    align-items: center;
    padding-right: 20px;
}

.nav-link {
    color: black;
    font-family: Lato;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px
}

.nav-link:hover {
    color: blue;
}

.background-image {
    display: block;
    position: relative;
    left: 280px;
    max-width: 1000px;
}

.action-button {
    border-radius: 15px;
    border: 0;
    background-color: rgb(63, 63, 255);
    display: block;
    position: absolute;
    left: 100px;
    top: 350px;
    width: 180px;
    height: 40px;

}

.action-button:hover {
    background-color: red;
}

.action-text {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: bold;
}



.content__page {
    position: relative;
}

.content__extract-name {
    color: red;
    position: absolute;
    top: 80px;
    left: 100px;
    font-size: 90px;
    font-family: 'Amita';
    line-height: 100px;
}
/* finished*/

.circle {
    padding: 20px 20px;
    border: 20px solid rgba(246, 123, 123, 0.356);
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

#about {
    padding: 20px 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

#plans {
    padding: 20px 20px;
    background-color: white;

}

#contact {
    padding: 20px 20px;
    background-color: white;

}

hr {
    color: rgba(62, 62, 62, 0.929)
}

h2 {
    font-family: 'homemade apple';
    color: black;
    display: flex;
    align-items: center;
    padding: 100px 0 50px;
    font-size: 46px;
}

.background-image {
    display: block;
    width: 100%;
}